
<!DOCTYPE html>
<html>
<head>
<meta charset=”UTF-8” />
<title>Escola de Musica</title>
<link rel="stylesheet" type="text/css" href="site.css">
<link rel="stylesheet" type="text/css" href="detalhescurso.css">
</head>
<body>
    <!--HEADER-->
    <div class="header">
        <div class="logo">
            <img src="logo.jpg" width="100px"/>
        </div>
        <div class="titulo">        
            <h1 class="textoHeader">Escola Música Brasil</h1>
        </div>
    </div>
    <!--MENU-->
    <div id="menu">
        <ul><!--Início da Lista Nao Ordenada-->
            <li><a href="index.html">Homepage</a></li><!--Itens da Lista-->
            <li><a href="disciplina.html">Disciplinas</a></li>
            <li><a href="listacurso.html">Lista de Cursos</a></li>
            <li><a href="detalhescurso.html">Detalhe dos Cursos</a></li>
            <li><a href="noticias.html">Notícias</a></li>
        </ul>
    </div>
    <!--CONTEUDO-->
    <div class="conteudo_dc">
        <h3>Violão</h3>
        <p>As aulas de violão são desenvolvidas por professores que estão atuando no ramo de ensino
         musical há muitos anos e com isso desenvolveram muita experiência.
         Tal experiência faz com que as aulas de violão sejam confortáveis e de fácil entendimento pelo aluno. 
         Além do curso de violão completo e personalizado, abordando técnica, prática e teoria, fornecemos o 
         material especializado e os professores também disponibilizam todo o suporte para a compra e 
         manutenção do instrumento.</p>
        <h3>Guitarra</h3>
        <p>As aulas de guitarra são personalizadas e abordam vários tipos de técnicas para mão 
         direita tais como palhetada alternada, sweep, skiping, tapping e finger picking.</p>
        <h3>Trompete</h3>
        <p>Este curso prepara o aluno no início, para reproduzir um repertório básico e formações 
        de acordes. Com o passar das aulas, aos poucos o aluno aperfeiçoará a leitura e terá mais domínio da 
        improvisação com base no campo harmônico escolhido. Entre os métodos utilizados temos Arban S., James Stemp,
        Maggio, Hering, Flexus, entre outros.</p>
        <h3>Gaita</h3>
        <p>O curso de Gaita da Escola Música Brasil é um curso para gaitas diatônicas em todos os tons 
        possíveis, abrangendo técnica e teoria na medida certa. Serão utilizados todos os recursos atuais tais 
        como vídeos, softwares e backing tracks especiais para o melhor e mais rápido desenvolvimento individual 
        do aluno.</p>
        <h3>Violino</h3>
        <p>O diferencial do nosso curso é que o aluno também pode aprender a tocar temas ou melodias
        populares além do tradicional erudito. Entre os métodos utilizados no curso, os mais conhecidos são 
        "All for strings", "Suzuki", "Schadieck", "Kayser op 20", "Sevcik" e "Kreutzer".</p>
        <h3>Saxofone</h3>
        <p>O objetivo principal é tornar o aluno um instrumentista autônomo e capaz de compor seu 
        próprio repertório, com músicas que gosta e tem interesse em tocá-la.</p>
        <h3>Bateria</h3>
        <p>As aulas são dinâmicas e personalizadas, atendendo exatamente ao gosto musical e respeitando
        o tempo de estudo disponibilizado por cada aluno. Se o aluno tiver uma boa disponibilidade para estudos
        diários, e estudar o conteúdo da aula de bateria durante a semana entre uma aula e outra, cada aula nova 
        o professor terá um assunto diferente para trabalhar.</p>
    </div>
    
    <!--FOOTER-->
    <div class="footer">
        <h4>Todos os Direitos Reservados</h4>
        <h5>29/09/2019 19:15</h5>
    </div>
</body>
</html>
