
<!DOCTYPE html>
<html>
<head>
<meta charset=”UTF-8” />
<title>Escola de Musica</title>
<link rel="stylesheet" type="text/css" href="site.css">
<link rel="stylesheet" type="text/css" href="disciplina.css">
</head>
<body>
    <!--HEADER-->
    <div class="header">
        <div class="logo">
            <img src="logo.jpg" width="100px"/>
        </div>
        <div class="titulo">        
            <h1 class="textoHeader">Escola Música Brasil</h1>
        </div>
    </div>
    <!--MENU-->
    <div id="menu">
        <ul><!--Início da Lista Nao Ordenada-->
            <li><a href="index.html">Homepage</a></li><!--Itens da Lista-->
            <li><a href="disciplina.html">Disciplinas</a></li>
            <li><a href="listacurso.html">Lista de Cursos</a></li>
            <li><a href="detalhescurso.html">Detalhe dos Cursos</a></li>
            <li><a href="noticias.html">Notícias</a></li>
        </ul>
    </div>
    <!--CONTEUDO-->
    <div class="conteudo">
        <img src="disciplina.jpg" width="100%">
        <p>A Escola Música Brasil oferece cursos personalizados, buscando sempre o que há de melhor na 
        atualidade para a metodologia utilizada nas aulas. Para isso utiliza recursos modernos tais como 
        softwares específicos para o desenvolvimento de cada instrumento, softwares de gravação, playbacks 
        originais de músicas, metrônomo, estudo de equipamentos complementares, estudo do funcionamento e 
        cuidados com cada instrumento, e até vídeos e materiais da internet para somar, aproveitando de maneira 
        odutiva a infinidade de informações que estão disponíveis na na web mas que nem sempre estão corretas 
        podendo inclusive atrapalhar se não forem bem explicadas ou interpretadas.
        O aluno poderá receber o material tanto em papel quanto em um pendrive, ou se preferir, receber tudo 
        por e-mail, inclusive em formatos compatíveis com móbiles e tablets em geral.
        Oferecemos também salas de estudo sem custo adicional para alunos que ainda não possuam o próprio 
        instrumento ou então que preferiram usufruir da nossa estrutura para fazer os seu estudos, e que não
        seja a própria casa, justamente para ajudar na concentração.
        O objetivo principal da Escola Música Brasil é ser para o aluno uma extensão musical da sua casa. 
        Por isso é um ambiente familiar e confortável onde cada um pode expressar a música do seu jeito, no 
        seu tempo e sem limites.</p>
    </div>
    
    <!--FOOTER-->
    <div class="footer">
        <h4>Todos os Direitos Reservados</h4>
        <h5>29/09/2019 19:15</h5>
    </div>
</body>
</html>
