
<!DOCTYPE html>
<html>
<head>
<meta charset=”UTF-8” />
<title>Escola de Musica</title>
<link rel="stylesheet" type="text/css" href="site.css">
</head>
<body>
    <!--HEADER-->
    <div class="header">
        <div class="logo">
            <img src="logo.jpg" width="100px"/>
        </div>
        <div class="titulo">        
            <h1 class="textoHeader">Escola Música Brasil</h1>
        </div>
    </div>
    <!--MENU-->
    <div id="menu">
        <div id="menu">
            <ul><!--Início da Lista Nao Ordenada-->
                <li><a href="index.html">Homepage</a></li><!--Itens da Lista-->
                <li><a href="disciplina.html">Disciplinas</a></li>
                <li><a href="listacurso.html">Lista de Cursos</a></li>
                <li><a href="detalhescurso.html">Detalhe dos Cursos</a></li>
                <li><a href="noticias.html">Notícias</a></li>
            </ul>
        </div>
    <!--CONTEUDO-->
    <div class="conteudo_hp">
        <p> A Escola Música Brasil é uma escola de música livre e moderna com especialização em 
            aulas individuais e personalizadas. Temos como princípio oferecer qualidade tanto nos 
            cursos quanto nos eventos realizados pela escola, mas principalmente no atendimento pessoal. 
            Sempre com um cuidado especial, a Escola Música Brasil atende as necessidades reais de cada 
            aluno, seja por um hobby, ou até mesmo a profissionalização.</p>
        <img src="instrumentos_alterar.png" width="200px">    
    </div>
    
    <!--FOOTER-->
    <div class="footer">
        <h4>Todos os Direitos Reservados</h4>
        <h5>29/09/2019 19:15</h5>
    </div>
</body>
</html>
