
<!DOCTYPE html>
<html>
<head>
<meta charset=”UTF-8” />
<title>Escola de Musica</title>
<link rel="stylesheet" type="text/css" href="site.css">
<link rel="stylesheet" type="text/css" href="listacurso.css">
</head>
<body>
    <!--HEADER-->
    <div class="header">
        <div class="logo">
            <img src="logo.jpg" width="100px"/>
        </div>
        <div class="titulo">        
            <h1 class="textoHeader">Escola Música Brasil</h1>
        </div>
    </div>
    <!--MENU-->
    <div id="menu">
        <ul><!--Início da Lista Nao Ordenada-->
            <li><a href="index.html">Homepage</a></li><!--Itens da Lista-->
            <li><a href="disciplina.html">Disciplinas</a></li>
            <li><a href="listacurso.html">Lista de Cursos</a></li>
            <li><a href="detalhescurso.html">Detalhe dos Cursos</a></li>
            <li><a href="noticias.html">Notícias</a></li>
        </ul>
    </div>
    <!--CONTEUDO-->
    <div class="conteudo_lc">
    
        <div class="lista"><img src="violao.jpg" width="200" height="200">
                <li>VIOLÃO</li></div>
        <div class="lista"><img src="guitarra.jpg" width="200" height="200">
                <li>GUITARRA</li></div>
        <div class="lista"><img src="trompete.jpg" width="200" height="200">
            <li>TROMPETE</li></div>
        <div class="lista"><img src="gaita.jpg" width="200" height="200">
                <li>GAITA</li></div>
        <div class="lista"><img src="violino.jpg" width="200" height="200">
                <li>VIOLINO</li></div>
        <div class="lista"><img src="saxofone.jpg" width="200" height="200">
            <li>SAXOFONE</li></div>
        <div class="lista"><img src="bateria.jpg" width="200" height="200">
                <li>BATERIA</li></div>

    
    </div>
    
    <!--FOOTER-->
    <div class="footer">
        <h4>Todos os Direitos Reservados</h4>
        <h5>29/09/2019 19:15</h5>
    </div>
</body>
</html>
