
<!DOCTYPE html>
<html>
<head>
<meta charset=”UTF-8” />
<title>Escola de Musica</title>
<link rel="stylesheet" type="text/css" href="site.css">
<link rel="stylesheet" type="text/css" href="noticias.css">
</head>
<body>
    <!--HEADER-->
    <div class="header">
        <div class="logo">
            <img src="logo.jpg" width="100px"/>
        </div>
        <div class="titulo">        
            <h1 class="textoHeader">Escola Música Brasil</h1>
        </div>
    </div>
    <!--MENU-->
    <div id="menu">
        <ul><!--Início da Lista Nao Ordenada-->
            <li><a href="index.html">Homepage</a></li><!--Itens da Lista-->
            <li><a href="disciplina.html">Disciplinas</a></li>
            <li><a href="listacurso.html">Lista de Cursos</a></li>
            <li><a href="detalhescurso.html">Detalhe dos Cursos</a></li>
            <li><a href="noticias.html">Notícias</a></li>
        </ul>
    </div>
    <!--CONTEUDO-->
    <div class="conteudo_no">
        <h2>Curso móvel</h2>
        <img src="curso_movel.jpg">
        <p>A Escola Música Brasil também pode ir até você! Seja em casa ou na empresa no seu horário de almoço ou 
        enquanto espera passar o rodízio da placa do seu carro.

        O professor irá acompanhado de um notebook com alguns softwares que facilitam e ajudam no aprendizado.
                
        O material poderá ser passado na hora para o pen drive, tablet ou celular do aluno.
                
        Obs: Apenas para os cursos de bateria, saxofone ou flauta, será preciso ter o instrumento no local.</p>
    </div>
    
    <!--FOOTER-->
    <div class="footer">
        <h4>Todos os Direitos Reservados</h4>
        <h5>29/09/2019 19:15</h5>
    </div>
</body>
</html>
